.mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-mdc-form-field {
    margin-top: 20px;
  }


  .card {

    border-radius: 8px;

    padding: 20px;
    margin-bottom: 20px;
    width: 100%; /* Rend la carte extensible */
   height: 130vh; /* Définit la hauteur à 10% de la hauteur de la fenêtre */
}

