<div class="flex flex-col flex-auto min-w-0">


            <div>
                <div class="w-full">
                    <div class="w-full">
                        <div class="overflow-auto">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Search application</mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                                <input matInput [placeholder]="'Application name'" [(ngModel)]="searchTerm"
                                    (input)="search()">
                                <button mat-icon-button matSuffix></button>
                            </mat-form-field>
                        </div>
                    </div>

                </div>



                <div class="overflow-auto">
                    <div class="card">
                        <table class="w-full table-auto">
                            <thead>
                                <tr class="bg-gray-200 dark:bg-gray-800">
                                    <th class="py-2 px-4 border">Logo</th>
                                    <th class="py-2 px-4 border">Name</th>
                                    <th class="py-2 px-4 border">Creation Date</th>
                                    <th class="py-2 px-4 border">Secret Key</th>
                                    <th class="py-2 px-4 border">Etat</th>
                                    <th class="py-2 px-4 border">Lock</th>

                                    <th class="py-2 px-4 border">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Team members -->
                                <ng-container *ngFor="let application of filteredApplications; trackBy: trackByFn;">

                                    <tr class="border-b dark:border-gray-700">
                                        <td class="py-2 px-4 border">
                                            <div class="flex items-center justify-center">
                                                <div class="w-10 h-10 rounded-full overflow-hidden">
                                                    <ng-container *ngIf="application.logo">
                                                        <img class="object-cover w-full h-full"
                                                            src={{application.logo}}
                                                            alt="application logo" />
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="py-2 px-4 border">{{application.name}}</td>
                                        <td class="py-2 px-4 border">{{application.createdAt}}</td>
                                        <td class="py-2 px-4 border">
                                            <div *ngIf="application.showSecret">{{application.secretKey}}</div>
                                            <div *ngIf="!application.showSecret">
                                                **************************************************
                                            </div>
                                        </td>
                                        <td class="py-2 px-4 border">
                                            <div class="hidden lg:block">
                                                <ng-container *ngIf="application.etat">
                                                    <mat-icon class="text-green-400 icon-size-5"
                                                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                </ng-container>
                                                <ng-container *ngIf="!application.etat">
                                                    <mat-icon class="text-gray-400 icon-size-5"
                                                        [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                                                </ng-container>
                                            </div>
                                        </td>
                                        <td class="py-2 px-4 border">
                                            <button mat-icon-button (click)="toggleSecretVisibility(application)">
                                                <mat-icon class="text-hint"
                                                    [svgIcon]="application.showSecret ? 'heroicons_solid:eye' : 'heroicons_solid:eye-slash'"></mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="copySecret(application.secretKey)">
                                                <mat-icon class="text-hint"
                                                    [svgIcon]="'heroicons_outline:clipboard'"></mat-icon>
                                            </button>
                                        </td>
                                        <td class="py-2 px-1 border">
                                            <button mat-icon-button (click)="deleteApplication(application)">
                                                <mat-icon class="text-hint"
                                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            </button>
                                        </td>

                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>

